{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Django Dersleri{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

</head>
<body>

    {% include 'message.html' %}

    {% include "header.html" %}

    {% block body %}

    {% endblock %}


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

</body>
</html>